<section ng-controller="ArticlesController">
  <div class="page-header">
    <h1>New Apartment</h1>
  </div>
  <div class="col-md-12">
    <form name="articleForm" class="form-horizontal" ng-submit="create(articleForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label for="title">Apartment Number</label>
          <input name="title" type="title" ng-model="title" id="title" class="form-control" placeholder="# goes here..." required>
          <div ng-messages="articleForm.title.$error" role="alert">
            <!-- <p class="help-block error-text" ng-message="required">Required Field.</p> -->
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="bedroom">Bedrooms</label>
          <input name="bedroom" type="number" ng-model="bedroom" id="bedroom" class="form-control" placeholder="Number of Bedrooms" required>
          <div ng-messages="articleForm.bedroom.$error" role="alert">
            <!-- <p class="help-block error-text" ng-message="required">Required Field.</p> -->
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="bathroom">Bathrooms</label>
          <input name="bathroom" type="number" ng-model="bathroom" id="bathroom" class="form-control" placeholder="Number of Bathrooms" required>
          <div ng-messages="articleForm.bathroom.$error" role="alert">
            <!-- <p class="help-block error-text" ng-message="required">Required Field.</p> -->
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="footage">Total Square Footage</label>
          <input name="footage" type="number" ng-model="footage" id="footage" class="form-control" placeholder="Living Space" required>
          <div ng-messages="articleForm.footage.$error" role="alert">
            <!-- <p class="help-block error-text" ng-message="required">Required Field.</p> -->
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="rent">Rent</label>
          <input name="rent" type="number" ng-model="rent" id="rent" class="form-control" placeholder="Monthly Rent" required>
          <div ng-messages="articleForm.rent.$error" role="alert">
            <!-- <p class="help-block error-text" ng-message="required">Required Field.</p> -->
          </div>
        </div>

        <div class="form-group">
          <label for="content">Aditional Details</label>
          <textarea name="content" ng-model="content" id="content" class="form-control" cols="30" rows="10" placeholder="Type additional info here"></textarea>
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-default">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
