<link rel="stylesheet" href="modules/articles/client/views/css/style.css">

<section ng-controller="ArticlesController" ng-init="find()">
  <div class="page-header">
    <h1>Apartment Listings</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="article in articles" ui-sref="articles.view({articleId: article._id})" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="article.created | date:'mediumDate'"></span>
        by
        <span ng-bind="article.user.displayName"></span>
      </small>
        <table>
          <tbody>
            <tr>
              <td><h4>Apartment Number: </h4></td>
              <td><h4>&nbsp;{{article.title}}</h4></td>

              <td><h4>Number of Bedrooms: </h4></td>
              <td><h4>&nbsp;{{article.bedroom}}</h4></td>
            </tr>
            <tr>
              <td><h4>Number of Bathrooms: </h4></td>
              <td><h4>&nbsp;{{article.bathroom}}</h4></td>

              <td><h4>Total Square Footage: </h4></td>
              <td><h4>&nbsp;{{article.footage}}</h4></td>
            </tr>
            <tr>
              <td><h4>Monthly Rent: </h4></td>
              <td><h4>&nbsp;${{article.rent}}</h4></td>
            </tr>
            <tr>
              <td><h4>Additional Details: </h4></td>
              <td><h4 ng-bind="article.content"></h4></td>
            </tr>
          </tbody>
        </table>

    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="articles.$resolved && !articles.length">
    No apartments yet, why don't you <a ui-sref="articles.create">create one</a>?
  </div>
</section>
