<!-- <link rel="stylesheet" href="./css/style.css"> -->
<section ng-controller="ArticlesController" ng-init="findOne()">
  <div class="page-header">
    <h1>Apartment Number: {{article.title}}</h1>
  </div>
  <div class="row">
    <div class="col-md-8">
      <img id="floorplan" class="pull-right" src="modules/articles/client/views/images/floor.jpg" alt="Floor Plan" style="width:304px;height:228px;">

      <p><b>Number of Bedrooms:</b> {{article.bedroom}}</p>
      <p><b>Number of Bathrooms:</b> {{article.bathroom}}</p>
      <p><b>Total Square Footage:</b> {{article.footage}}</p>
      <p><b>Monthly Rent:</b> ${{article.rent}}</p>
      <p><b>Additional Details:</b></p>
      <p>{{article.content}}</p>
    </div>
  </div>
  <br>
  <br>

  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="article.created | date:'mediumDate'"></span>
      by
      <span ng-bind="article.user.displayName"></span>
    </em>
  </small>


  <div class="pull-right" ng-show="authentication.user._id == article.user._id">
    <a class="btn btn-primary" ui-sref="articles.edit({articleId: article._id})">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="remove();">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>

</section>
